* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  /* padding: 6px 0; */
  /* background-color: rgba(0, 0, 0, 0.2); */
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  z-index: 100;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0 26px;
}
header nav ul li {
  padding: 18px;
}
header nav ul li:hover {
  color: #fff;
}

/* section1 */
.section1 {
  text-align: center;
}
.section1 h2 {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  /* padding-top: 5em; */
  position: relative;
  top: -20%;
  left: 0;
}
.section1 h3 {
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
  padding-top: 0.5em;
  position: relative;
  top: -20%;
  left: 0;
}
.section1 .social {
  display: flex;
  justify-content: center;
  padding: 2em 1em;
  position: relative;
  top: -20%;
  left: 0;
}
.section1 .social li {
  padding: 0.2em;
  z-index: 20;
}
.section1 .social img:hover {
  filter: drop-shadow(1px 1px 5px #6d6d6d);
}
.section1 .friends {
  max-width: 600px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: 2s;
}
.section1 .friends.active {
  bottom: -100%;
}

/* section2 */
.section2 {
  text-align: center;
}

.section2 .slide .logo {
  margin-top: 90px;
}
.section2 .slide h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}
.section2 .slide h4 {
  padding-top: 14px;
  font-weight: 600;
  font-size: 25px;
  color: rgba(0, 0, 0, 1);
}
.section2 .slide p {
  padding: 0 0 10px;
  font-weight: 500;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}
.section2 .slide .imgcontent {
  max-width: 800px;
}

/* section3 */
.section3 .content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.section3 .text {
  text-align: left;
}
.section3 .text h4 {
  font-weight: 600;
  font-size: 28px;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 20px;
}
.section3 .text p {
  font-weight: 500;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}
.section3 .imgs {
  position: relative;
  top: 0;
  right: -200%;
  transition: 3s;
}
.section3 .imgs.active {
  right: 0;
}
.section3 .imgs .phone {
  margin-bottom: 16px;
  margin-left: 30px;
}
.section3 img:hover {
  filter: drop-shadow(2px 2px 5px #000);
}
.section3 ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section3 ul li {
  padding: 10px 20px;
  margin: 2em 30px;
  background-color: #d9d9d9;
  font-weight: 600;
  font-size: 12px;
  border-radius: 30px;
}
/* section4 */
.section4 .slide .content {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}
.section4 h4 {
  font-weight: 600;
  font-size: 28px;
  color: rgba(0, 0, 0, 1);
  padding: 30px 0;
}
.section4 h3 {
  font-weight: 500;
  font-size: 24px;
}
.section4 p {
  margin: 2px 0 10px;
  font-weight: 500;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 500px;
}
.section4 img {
  height: 466px;
  position: absolute;
  top: 100%;
  left: 200%;
  transition: 3s;
}
.section4 img.active {
  left: 0%;
}
.section4 button {
  width: 150px;
  height: 60px;
  background: #d9d9d9;
  border-radius: 50px;
  border: none;
  margin-top: 30px;
  font-weight: 600;
  font-size: 14px;
  float: right;
}

/* footer */
footer .ulu1 {
  display: flex;
  justify-content: space-between;
  padding: 10em;
}
footer .ulu1 p {
  /* text-align: center; */
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  padding-bottom: 14px;
  border-bottom: 2px solid #fff;
}
footer li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 360%;
  color: #e2e0ba;
}
footer li a:hover {
  color: #fff;
}

.menu {
  color: #fff;
  background-color: #6d6d6d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: none;
}
.menu.on {
  /* 온 클래스 추가 */
  display: block;
}
.menu ul {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu ul li {
  /* width: 400px; */
  padding: 30px;
  font-size: 26px;
  font-weight: 700;
}

.menu ul li a {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  color: #6d6d6d;
}

.close {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 50px;
  cursor: pointer;
}

/* .gotop */
/* .gotop {
  position: fixed;
  right: 100px;
  bottom: 100px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 30px;
  background-color: #fee800;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  display: none;
  opacity: 80%;
  z-index: 100;
} */
